<h4>{{ post.title }}</h4>

<p>
    {% for auth in post.authors %}
        {%if auth contains "Morgan Schwartz" %}
            <b>{{auth}}</b>,
        {%elsif auth == post.authors.last%}
            {{auth}}.
        {%else%}
            {{auth}},
        {%endif%}
    {%endfor%}

    <br>

    <i>{{post.venue}}</i>, {{post.date | date: '%Y'}}

    <br>

    {% if post.link %}
    <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.paperurl %}
    <a href="{{ post.paperurl }}"><i class="fas fa-fw fa-file zoom" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.code %}
    <a href="{{ post.code }}"><i class="fas fa-fw fa-code zoom" aria-hidden="true"></i></a>
    {% endif %}
    {% if post.github %}
    <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
    {% endif %}
</p>