.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  margin: 10px auto;

  transition: transform 400ms;

  &:hover:not(.publication):not(.teaching) {
    transform: translateY(-8px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}

.badgelink {
  &:hover {
    transform: translateY(-3px);
    box-shadow: -2px 8px 40px -12px rgba(0, 0, 0, 0.24);
  }
}

.card-img-top {
  border-radius: $rounded-borders $rounded-borders 0 0;
  height: 150px;
  background-size: cover;
}