{%- assign email = site.data.social-media["email"] -%}
{%- assign orcid = site.data.social-media["orcid"] -%}
{%- assign github = site.data.social-media["github"] -%}
{%- assign linkedin = site.data.social-media["linkedin"] -%}
{%- assign scholar = site.data.social-media["googlescholar"] -%}

<div class="masonry" style="float: left;">
    <div class="mItem">
        <center>
            <!-- <h2>About me</h2> -->
            <img style="height: 300px; border-radius: 50%; overflow: hidden;" src="{{site.baseurl}}/images/{{site.author.image}}">
            <a class="m-1 btn btn-outline-secondary btn-md btn-block" href="{{site.baseurl}}/assets/pdfs/{{site.cv_filename}}">
                <i class="fas fa-file-pdf"></i> Curriculum Vitae</a>
            <a class="m-1 btn btn-outline-secondary btn-md " href="{{ email.url }}{{ site.author.email }}">
                <i class="{{ email.icon }}"></i></a>
            <a class="m-1 btn btn-outline-secondary btn-md " href="{{ orcid.url }}{{ site.author.orcid }}">
            <i class="{{ orcid.icon }}"></i></a>
            <a class="m-1 btn btn-outline-secondary btn-md " href="{{ github.url }}{{ site.author.github }}">
            <i class="{{ github.icon }}"></i></a>
            <a class="m-1 btn btn-outline-secondary btn-md " href="{{ scholar.url }}{{ site.author.googlescholar }}">
            <i class="{{ scholar.icon }}"></i></a>
            <a class="m-1 btn btn-outline-secondary btn-md " href="{{ linkedin.url }}{{ site.author.linkedin }}">
            <i class="{{ linkedin.icon }}"></i></a>
        </center>
    </div>
</div>